$transition-time = 0.5s 
$animation-duration = 0.5s 

// transition
.page  
  
  transition-duration  $transition-time 
  // to create a transition, need to add 4 state.
  // before being target, (all after the current target)
  // - :target ~ .class
  // will display, (just aside the target)
  // - :target + .class
  // being target
  // - .class:target
  // after display, (placed before the target, can
  // not be seleted by common css selectors)
  // - .class

// slide-r2l
.page
  
  // And the -in- class should placed before -out- class,
  // as the out class will be written after all the in class.
  &:target ~ .slide-r2l-in
    transform  translate(100vw, 0) 

  &:target + .slide-r2l-in
    transform  translate(100vw, 0) 

  &.slide-r2l-in:target
    transform  translate(0) 
   
  &.slide-r2l-in
    transition-property transform

  &.slide-r2l-out
    transform translate(-100vw, 0)
    transition-property  transform 
  // &.slide-r2l-out
  //   transform translateX(-100vw)
   
  // outs
  // &.slide-r2l-out  
    // transition-property  transform 
    // transform  translateX(-100vw) 
    // left  -100vw 

// slide-l2r
// .page

// .slide-b2l
.page
  &:target ~ .slide-b2l-in
    transform  translate(0, 100vh) 

  &:target + .slide-b2t-in
    transform  translate(0, 100vh) 

  &.slide-b2t-in:target
    transform  translate(0) 
   
  &.slide-b2t-in
    transition-property transform
  &.slide-b2t-out
    transform translate(0, -100vh)
    transition-property  transform 

// .slide-t2b
.page
  &:target ~ .slide-t2b-in
    transform  translate(0, -100vh) 

  &:target + .slide-t2b-in
    transform  translate(0, -100vh) 

  &.slide-t2b-in:target
    transform  translate(0) 

  &.slide-t2b-in
    transition-property transform
   
  &.slide-t2b-out
    transform translate(0, 100vh)
    transition-property  transform 

// shrink
.page
  // &:target ~ .slide-t2b-in
  //   transform  translate(0, -100vh) 

  // &:target + .slide-t2b-in
  //   transform  translate(0, -100vh) 

  // &.slide-t2b-in:target
  //   transform  translate(0) 

  // &.slide-t2b-in
  //   transition-property transform
   
  &.shrink-out
    transform scale(0)
    transition-property  transform 

// rotate-2t
// this is a 3d transition
.page
  &:target ~ .rotate-2t-in
    transform  rotateX(-90deg) translateZ(50vh)

  &:target + .rotate-2t-in
    transform  rotateX(-90deg) translateZ(50vh)

  &.rotate-2t-in:target
    // transform-origin top center
    transform translateZ(50vh)

  &.rotate-2t-in
    transition-property transform
   
  &.rotate-2t-out
    transform-origin bottom center
    transform  rotateX(90deg) translateZ(50vh)
    transition-property  transform 


// rotate-2l
// this is a 3d transition
.page
  &:target ~ .rotate-2l-in
    transform  rotateY(-90deg) translateZ(50vh)

  &:target + .rotate-2l-in
    transform  rotateY(-90deg) translateZ(50vh)

  &.rotate-2l-in:target
    // transform-origin top center
    transform translateZ(50vh)

  &.rotate-2l-in
    transition-property transform
   
  &.rotate-2l-out
    // transform-origin bottom center
    transform  rotateY(90deg) translateZ(50vh)
    transition-property  transform 








// #pagex:target ~ .page
//   transform translateX(100vw)
//   transition-duration: 0

// #page1:target ~ .page
//   transform translateX(100vw)
//   transition-duration: 0