*  
  box-sizing border-box 
 
html,
body  
  margin  0 
  padding  0 
  font  32px "Code Source Pro", "微软雅黑", sans-serif 
  width  100vw 
  height  100vh 
 
a  
  text-decoration  none 
 
body  
  position  fixed 
  top  0 
  left  0 
  overflow hidden 
  background-color  #333 
 
kbd 
  background-color #fff
  padding 0 0.4em
  border-radius: 10px
  color #000000
  font-family: monospace
  text-shadow 0 0 1px white
  background-color #00e231

dd
  border-left: solid 0.3em #334E70
  padding 0.5em
// base elements
b
  text-transform: capitalize
  display inline-block
b::first-letter

  color #F76704
.start  
  position  absolute 
  top 50% 
  // right 20% 
  // display none
  left  50% 
  width  200px 
  height  100px 
  font-size  6rem 

  color  #fff 
  text-align  center 
  margin  -50px 0 0 -100px 
// .start:target
//   display block
 
.hidden-anchor  
  display  none 
  & + label  
    position  absolute 
    z-index  1000 
    width  50vw 
    height  100vh 
    top  0 
    left  0 
   
  &:checked + label 
    pointer-events  none 
   
  &#go-previous + label  
    left  0 
   
  &#go-next + label  
    left  50vw 
   
 
// #go-previous
.page  
  width  100vw 
  height  100vh 
  padding  0 2rem 
  position  absolute 
  top  0 
  left  0 
  transform  translateX(100vw) 
  
 
.page:target  
  display block 
  transform  none 
 
#page0
  background-color #333
  z-index 999999
  width 100vw
  height 100vh
  transform none

.progress  
  z-index  1000 
  position  absolute 
  top  0 
  left 0 
  width  100vw 
  height  3px 
  background-color  #38c138 
  box-shadow  2px 2px 4px rgba(200,200,200, 0.3) 

// start of layout
baselayout()
  position absolute
  display flex
  justify-content: center
  flex-wrap: wrap
  align-items: center
  align-content: center
  padding-top 120px
  width 100%
  height 100%
  top 0
  left 0
.layout
  baselayout()
.layout-r2   
  baselayout()

.row  
  flex 1
// end of layout


.content
  height calc(100vh - 120px)
  display flex
  justify-content center
  flex-flow column wrap
  align-items flex-start

.container
  width 100%
  .row
    display flex
    justify-content: space-between
  .cell
    flex 1
    border-right dotted 1px
    &:last-child
      border none

.info
  border-left 0.2em solid #63CCC8
  border-top dotted 1px #63CCC8
  padding 0.5em
// .h3
.line
  height 1em
.box-caret
  background-color #ccc
  color #000
  animation blink 1s infinite,
    change-color 1s infinite
.caret
  position relative
  &::after
    animation blink 1s infinite
    content ""
    position absolute
    width 2px
    background-color #ccc
    height 1em
    right 0
    transform translateX(50%)

@keyframes change-color
  from 
    color #333
  50%
    color #333
  51%
    color white 
  to 
    color white
@keyframes blink
  from 
    background-color #ccc
    // opacity 1

  50%
    background-color #ccc
    // opacity 1
  51%
    background-color transparent
    // opacity 0
  to 
    background-color transparent
    // opacity 0
  