<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="./index.css")
  body
    //- input.hidden-anchor#go-previous(type="radio", name="hidden-anchor")
    //- label(for='go-previous')
    //- input.hidden-anchor#go-next(type="radio", name="hidden-anchor", checked)
    //- label(for="go-next")
    //- .page#page0
    a.start#pagex(href="#page10") start

    .progress
    .classic.page.slide-r2l-out.slide-r2l-in#page10
      a.prev(href="#pagex")
      a.next(href="#page20")
      .title The history of human being 
      .subtitle page1
    .classic.page.slide-r2l-in.slide-b2t-out#page20
      a.prev(href="#page10")
      a.next(href="#page30")
      .title common shortcuts of normal editors
      .subtitle
      ul
        li  <kbd>alt+&lt;left&gt;/&lt;right&gt;</kbd>
        li  <kbd>cmd+&lt;left&gt;/&lt;right&gt;</kbd>
        li  <kbd>cmd+&lt;up&gt;/&lt;down&gt;</kbd>
    .classic.page.slide-b2t-in.rotate-2l-out#page30
      a.prev(href="#page20")
      a.next(href="#page40")
      .title the vim way
      //- .subtitle content 3
      .content
        p.
          modal editing

    .classic.page.slide-r2l-in.slide-r2l-out#page40
      a.prev(href="#page30")
      a.next(href="#page42")
      .title 3 modes of vim
      //- .subtitle content 4
      .content
        ul
          li insert mode
          li command mode
          li visual mode
      

    .classic.page.slide-r2l-in.slide-r2l-out#page42
      a.prev(href="#page40")
      a.next(href="#page45")
      .title insert mode
      .subtitle 
      .layout
        .info.
          most keystrokes are inserted as text

    .classic.page.slide-r2l-in.slide-r2l-out#page45
      a.prev(href="#page42")
      a.next(href="#page48")
      .title insert mode (2)
      .subtitle  how to enter insert mode 
      p
        | a brown fox j
        span.box-caret u
        | mps over a lazy dog 
      dl
        dt a
        dd 
          | a brown fox j
          span.caret u
          | mps over a lazy dog 
        dt A
        dd 
          | a brown fox jumps over a lazy do
          span.caret g 
        dt i
        dd
          | a brown fox 
          span.caret j
          | umps over a lazy dog 
        dt I
        dd
          span.caret 
          | a brown fox jumps over a lazy do
        dt o
        dd
          div a brown fox jumps over a lazy do
          .line 
            span.caret  
        dt O
        dd
          .line
            span.caret  
          div a brown fox jumps over a lazy do

    .classic.page.slide-r2l-in.slide-r2l-out#page48
      a.prev(href="#page45")
      a.next(href="#page49")
      //- .title edit mode
      .subtitle 
      .layout
        h2 how to exit insert mode
        //- .info press the vim home key <kbd>esc</kbd>

    .classic.page.slide-r2l-in.slide-r2l-out#page49
      a.prev(href="#page48")
      a.next(href="#page50")
      .layout
        h1 <kbd>esc</kbd>

    .classic.page.slide-r2l-in.slide-r2l-out#page50
      a.prev(href="#page49")
      a.next(href="#page90")
      .title command mode
      .subtitle 
      .layout
        h2 all characters will be considered as command.

    //- .classic.page.slide-r2l-in.slide-r2l-out#page60
    //-   a.prev(href="#page50")
    //-   a.next(href="#page70")
    //-   .title command mode
    //-   .subtitle 
    //-   p.
    //-     all characters will be considered as command.

    //- .classic.page.slide-r2l-in.slide-r2l-out#page70
    //-   a.prev(href="#page60")
    //-   a.next(href="#page80")
    //-   .title edit mode

    //- .classic.page.slide-r2l-in.slide-r2l-out#page80
    //-   a.prev(href="#page70")
    //-   a.next(href="#page90")
    //-   .title visual mode

    .classic.page.slide-r2l-in.slide-r2l-out#page90
      a.prev(href="#page80")
      a.next(href="#page100")
      .title move around in vim
      .subtitle h,j,k,l     
      dl
        dt h
        dd left
        dt j
        dd down
        dt k
        dd up
        dt l
        dd right

    .classic.page.slide-r2l-in.slide-r2l-out#page100
      a.prev(href="#page90")
      a.next(href="#page110")
      .title move around in vim (2)
      .subtitle e E b B w W
      dl
        dt e
        dd foward to <b>end</b> of a word
        dt E
        dd foward to <b>end</b> of line
        dt b
        dd <b>backword</b> a word
        dt B
        dd <b>backword</b> a WORD
        dt w
        dd to the next beginning of a <b>word</b>
        dt W
        dd to the next beginning of a <b>W</b>ORD

    .classic.page.slide-r2l-in.slide-r2l-out#page110
      a.prev(href="#page100")
      a.next(href="#page120")
      .title move around in vim (3)
      .subtitle 0 ^ $
      dl
        dt 0
        dd go to the very beginning of line
        dt ^
        dd go to the first non empty character of line
        dt $
        dd go to the end of line

    .classic.page.slide-r2l-in.slide-r2l-out#page120
      a.prev(href="#page110")
      a.next(href="#page130")
      .title move around in vim (4)
      .subtitle f F t T , ;
      dl
        dt f
        dd move cursor <b>forward</b> to the first character after the cursor
        dt F
        dd move cursor <b>forward</b> to the first next character before
        dt t
        dd move cursor <b>till</b> the first next character before
        dt T
        dd move cursor <b>till</b> the first next charactor before
        dt ;
        dd repeat the latest f/F/t/T command. 
        dt ,
        dd repeat the latest f/F/t/T command in opposite direction

    .classic.page.slide-r2l-in.slide-r2l-out#page130
      a.prev(href="#page120")
      a.next(href="#page140")
      .title move around in vim (5)
      .subtitle g % C+d C+u 
      dl
        dt g
        dd <b>go</b> to somewhere
          dl
            dt gg
            dd <b>go</b> to the beginning of the file
            dt G
            dd <b>go</b> to the end of the file
        dt %
        dd go to matching bracket
        dt C+d
        dd move <b>down</b> half screen
        dt C+u
        dd move <b>up</b> half screen
    .classic.page.slide-r2l-in.slide-r2l-out#page140
      a.prev(href="#page130")
      a.next(href="#page143")
      .title editing commands
      .subtitle x r s 
      p for single character
      dl
        dt x
        dd delete character under cursor
        dt r{char}
        dd repalce character under cursor to {char}
        dt s
        dd delete character under cursor and enter edit mode

    .classic.page.slide-r2l-in.slide-r2l-out#page143
      a.prev(href="#page140")
      a.next(href="#page145")
      .layout
        h2  Text Object
    .classic.page.slide-r2l-in.slide-r2l-out#page145
      a.prev(href="#page143")
      a.next(href="#page150")
      .layout
        h3 What is Text Object

    .classic.page.slide-r2l-in.slide-r2l-out#page150
      a.prev(href="#page145")
      a.next(href="#page160")
      .title editing commands (2)
      .subtitle text object
      .layout
        .container
          .row
            .cell
              ul 
                li a
                li i (inner)
            .cell
              ul
                li w(word) 
                li W(Word)
                li s(sentence)
                li p(paragraph)
                li bracket((), [], {}, &lt;&gt;)
                li quote('', "", ``)

    .classic.page.slide-r2l-in.slide-r2l-out#page160
      a.prev(href="#page150")
      a.next(href="#page165")
      .title editing commands (3)
      .subtitle d c v y p
      p actions:
      dl
        dt d
        dd <b>delete</b>
        dt c 
        dd <b>change</b>
        dt v
        dd <b>visually</b> select
        dt y
        dd <b>yank</b>
        dt p
        dd <b>put</b>
      
    .classic.page.slide-r2l-in.slide-r2l-out#page165
      a.prev(href="#page160")
      a.next(href="#page170")
      .title undo/redo
      .layout
        dl
          dt u
          dd <b>undo</b>
          dt ctrl+r
          dd <b>redo</b>

    .classic.page.slide-r2l-in.slide-r2l-out#page170
      a.prev(href="#page165")
      a.next(href="#page175")
      .title visual mode
      .layout
        h2 How to enter visual mode

    .classic.page.slide-r2l-in.slide-r2l-out#page175
      a.prev(href="#page170")
      a.next(href="#page178")
      .layout 
        h1 <kbd>v</kbd> 


    .classic.page.slide-r2l-in.slide-r2l-out#page178
      a.prev(href="#page175")
      a.next(href="#page180")
      .title count
      .layout 
        h2 repeat following command {n} times

    .classic.page.slide-r2l-in.slide-r2l-out#page180
      a.prev(href="#page178")
      a.next(href="#page190")
      .title macro
      .content
        dl
          dt start recording macro
          dd q{char}
          dt end recording macro
          dd q
          dt use the macro
          dd @{char}

    .classic.page.slide-r2l-in.slide-r2l-out#page190
      a.prev(href="#page180")
      a.next(href="#page200")
      .title marker
      .content
        dl
          dt create a <b>mark</b>
          dd m{char}
          dt goto a mark
          dd `{char}/'{char}
    .classic.page.slide-r2l-in.slide-r2l-out#page200
      a.prev(href="#page190")
      a.next(href="#page210")
      .title z
      dl
        dt zt
        dd make current line <b>top</b> of screen
        dt zz
        dd make current line middle of screen
        dt zb
        dd make current line <b>bottom</b> of screen
        dt zc
        dd <b>close</b> current level of text
        dt zo
        dd <b>open</b> 

    .classic.page.slide-r2l-in.slide-r2l-out#page210
      a.prev(href="#page200")
      a.next(href="#page220")
      .layout
        h2 exit vim?

    .classic.page.slide-r2l-in.slide-r2l-out#page220
      a.prev(href="#page210")
      a.next(href="#page230")
      .layout
        h1 :q / :wq  / :q!
    .classic.page.slide-r2l-in.slide-r2l-out#page230
      a.prev(href="#page220")
      a.next(href="#page240")
      .title plugins support vim keymaps
      .layout
        ul
          li Vrapper(Eclipse)
          li Vim(Code) 
          li Vintage(Sublime)
          li Evil(Emacs)
    .classic.page.slide-r2l-in.slide-r2l-out#page240
      a.prev(href="#page230")
      a.next(href="#pagex")
      .layout
        h2 That's all.
    .classic.page.slide-r2l-in.slide-r2l-out#page250
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page260
      a.prev(href="#page50")
      a.next(href="#page70")





    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")