* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font: 32px "Code Source Pro", "微软雅黑", sans-serif;
  width: 100vw;
  height: 100vh;
}
a {
  text-decoration: none;
}
body {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #333;
}
kbd {
  background-color: #fff;
  padding: 0 0.4em;
  border-radius: 10px;
  color: #000;
  font-family: monospace;
  text-shadow: 0 0 1px #fff;
  background-color: #00e231;
}
dd {
  border-left: solid 0.3em #334e70;
  padding: 0.5em;
}
b {
  text-transform: capitalize;
  display: inline-block;
}
b::first-letter {
  color: #f76704;
}
.start {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  font-size: 6rem;
  color: #fff;
  text-align: center;
  margin: -50px 0 0 -100px;
}
.hidden-anchor {
  display: none;
}
.hidden-anchor + label {
  position: absolute;
  z-index: 1000;
  width: 50vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.hidden-anchor:checked + label {
  pointer-events: none;
}
.hidden-anchor#go-previous + label {
  left: 0;
}
.hidden-anchor#go-next + label {
  left: 50vw;
}
.page {
  width: 100vw;
  height: 100vh;
  padding: 0 2rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}
.page:target {
  display: block;
  -webkit-transform: none;
          transform: none;
}
#page0 {
  background-color: #333;
  z-index: 999999;
  width: 100vw;
  height: 100vh;
  -webkit-transform: none;
          transform: none;
}
.progress {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 3px;
  background-color: #38c138;
  -webkit-box-shadow: 2px 2px 4px rgba(200,200,200,0.3);
          box-shadow: 2px 2px 4px rgba(200,200,200,0.3);
}
.layout {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 120px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.layout-r2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 120px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.row {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.content {
  height: calc(100vh - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.container {
  width: 100%;
}
.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container .cell {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: dotted 1px;
}
.container .cell:last-child {
  border: none;
}
.info {
  border-left: 0.2em solid #63ccc8;
  border-top: dotted 1px #63ccc8;
  padding: 0.5em;
}
.line {
  height: 1em;
}
.box-caret {
  background-color: #ccc;
  color: #000;
  -webkit-animation: blink 1s infinite, change-color 1s infinite;
          animation: blink 1s infinite, change-color 1s infinite;
}
.caret {
  position: relative;
}
.caret::after {
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
  content: "";
  position: absolute;
  width: 2px;
  background-color: #ccc;
  height: 1em;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@-webkit-keyframes change-color {
  from {
    color: #333;
  }
  50% {
    color: #333;
  }
  51% {
    color: #fff;
  }
  to {
    color: #fff;
  }
}
@keyframes change-color {
  from {
    color: #333;
  }
  50% {
    color: #333;
  }
  51% {
    color: #fff;
  }
  to {
    color: #fff;
  }
}
@-webkit-keyframes blink {
  from {
    background-color: #ccc;
  }
  50% {
    background-color: #ccc;
  }
  51% {
    background-color: transparent;
  }
  to {
    background-color: transparent;
  }
}
@keyframes blink {
  from {
    background-color: #ccc;
  }
  50% {
    background-color: #ccc;
  }
  51% {
    background-color: transparent;
  }
  to {
    background-color: transparent;
  }
}
.page {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.page:target ~ .slide-r2l-in {
  -webkit-transform: translate(100vw, 0);
          transform: translate(100vw, 0);
}
.page:target + .slide-r2l-in {
  -webkit-transform: translate(100vw, 0);
          transform: translate(100vw, 0);
}
.page.slide-r2l-in:target {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.page.slide-r2l-in {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.page.slide-r2l-out {
  -webkit-transform: translate(-100vw, 0);
          transform: translate(-100vw, 0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.page:target ~ .slide-b2l-in {
  -webkit-transform: translate(0, 100vh);
          transform: translate(0, 100vh);
}
.page:target + .slide-b2t-in {
  -webkit-transform: translate(0, 100vh);
          transform: translate(0, 100vh);
}
.page.slide-b2t-in:target {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.page.slide-b2t-in {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.page.slide-b2t-out {
  -webkit-transform: translate(0, -100vh);
          transform: translate(0, -100vh);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.page:target ~ .slide-t2b-in {
  -webkit-transform: translate(0, -100vh);
          transform: translate(0, -100vh);
}
.page:target + .slide-t2b-in {
  -webkit-transform: translate(0, -100vh);
          transform: translate(0, -100vh);
}
.page.slide-t2b-in:target {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.page.slide-t2b-in {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.page.slide-t2b-out {
  -webkit-transform: translate(0, 100vh);
          transform: translate(0, 100vh);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.page.shrink-out {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.page:target ~ .rotate-2t-in {
  -webkit-transform: rotateX(-90deg) translateZ(50vh);
          transform: rotateX(-90deg) translateZ(50vh);
}
.page:target + .rotate-2t-in {
  -webkit-transform: rotateX(-90deg) translateZ(50vh);
          transform: rotateX(-90deg) translateZ(50vh);
}
.page.rotate-2t-in:target {
  -webkit-transform: translateZ(50vh);
          transform: translateZ(50vh);
}
.page.rotate-2t-in {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.page.rotate-2t-out {
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotateX(90deg) translateZ(50vh);
          transform: rotateX(90deg) translateZ(50vh);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.page:target ~ .rotate-2l-in {
  -webkit-transform: rotateY(-90deg) translateZ(50vh);
          transform: rotateY(-90deg) translateZ(50vh);
}
.page:target + .rotate-2l-in {
  -webkit-transform: rotateY(-90deg) translateZ(50vh);
          transform: rotateY(-90deg) translateZ(50vh);
}
.page.rotate-2l-in:target {
  -webkit-transform: translateZ(50vh);
          transform: translateZ(50vh);
}
.page.rotate-2l-in {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.page.rotate-2l-out {
  -webkit-transform: rotateY(90deg) translateZ(50vh);
          transform: rotateY(90deg) translateZ(50vh);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.classic.page {
  color: #fff;
  background-color: #333;
}
.classic .title {
  font-size: 2rem;
  font-weight: 500;
}
.classic .subtitle {
  font-size: 1.5rem;
  font-style: italic;
  border-bottom: 0.02em dashed;
  text-align: right;
  padding-right: 2em;
}
.classic .prev {
  z-index: 10000;
  position: absolute;
  left: 2rem;
  width: 4rem;
  height: 4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: monospace;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.classic .prev::before {
  content: "<";
  display: block;
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 4rem;
  color: transparent;
}
.classic .prev:hover {
  background-color: #d3d3d3;
  border-radius: 50%;
}
.classic .prev:hover::before {
  color: #fff;
}
.classic .next {
  z-index: 10000;
  position: absolute;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: monospace;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.classic .next::before {
  content: ">";
  display: block;
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 4rem;
  color: transparent;
}
.classic .next:hover {
  background-color: #d3d3d3;
  border-radius: 50%;
}
.classic .next:hover::before {
  color: #fff;
}
