
// theme

.classic  
  &.page  
    color #fff
    background-color #333
    // background-color  rgb(142,168,255) 
   
  .title  
    font-size  2rem 
    font-weight  500 
   
  .subtitle  
    font-size  1.5rem 
    font-style italic
    border-bottom 0.02em dashed
    text-align right
    padding-right 2em
   
  .prev  
    z-index 10000
    position  absolute 
    left  2rem 
    width  4rem 
    height  4rem 
    top  50% 
    transform  translateY(-50%) 
    font-family  monospace 
    transition  0.3s 
   
  .prev::before  
    content "<" 
    display block 
    width  4rem 
    height  4rem 
    font-size 3rem 
    position  absolute 
    top  0 
    left  0 
    text-align  center 
    line-height  4rem 
    color  transparent 
   
  .prev:hover  
    background-color  lightgray 
    border-radius 50% 
   
  .prev:hover::before  
    color  white 
   
  .next  
    z-index 10000
    position  absolute 
    right  2rem 
    width  4rem 
    height  4rem 
    top  50% 
    transform  translateY(-50%) 
    font-family  monospace 
    transition  0.3s 
   
   .next::before  
    content ">" 
    display block 
    width  4rem 
    height  4rem 
    font-size 3rem 
    position  absolute 
    top  0 
    left  0 
    text-align  center 
    line-height  4rem 
    color  transparent 
   
  .next:hover  
    background-color  lightgray 
    border-radius 50% 
   
  .next:hover::before  
    color  white 